<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="co.yedam.member.mapper.MemberMapper">
<!-- 0207 4교시 resultType 넣음 -->
  <select id="login" resultType="co.yedam.member.vo.MemberVO">
	select * from members where member_id=#{memberId} and member_pw=#{memberPw}
  </select>

<!-- 0207 7교시 넣음 -->    
	<insert id="addMember" parameterType="co.yedam.member.vo.MemberVO">
		insert into members(member_id, member_pw, member_name, member_phone, memeber_addr, responsibility, image)
		values(#{memberId},#{memberPw},#{memberName}, #{memberPhone}, #{memberAddr}, 'user', #{image})
	</insert>
	
	<select id="memberList" resultType="MemberVO">
	  select * from members order by member_id
	</select>
</mapper>