<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 <settings>
 	<setting name="mapUnderscoreToCamelCase" value="true"></setting>
 	<setting name="jdbcTypeForNull" value="NULL" />
 </settings>
 <typeAliases>
 	<typeAlias alias="MemberVO" type="co.yedam.member.vo.MemberVO"/>
 	<!-- memberMapper.xml의 parameterType를 co.yedam.member.vo.MemberVO 대신 MemberVO만 쓸 수 있게 함 -->
 </typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
        <property name="username" value="hr"/>
        <property name="password" value="hr"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="co/yedam/emp/mapper/EmpMapper.xml"/>
    <mapper class="co.yedam.member.mapper.MemberMapper" />
  </mappers>
</configuration>